<%- include("header") -%>
<div class = "box" id = "heading">
<h1> To Do List</h1>
</div>
<div class="box about">
<h2>Get things done here.</h2>
<p>
  This user friendly task manager will help you acheive your goals with minimalistic and
  stylish design. 
  </p>
  <p>Simply add new items to the list and later check and delete the items from the list that 
  you completed.
</p>
<p>The design allows you to access today's main list and work list, to keep balance between both.</p>
<p>
  Keeping up with your schedule has never been easier.
</p>
</div>

<%- include("footer") -%>
