<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a href="/">Main Page</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
        </div>