<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="box" id="heading"> 
            <h1> <%= kindOfDay %> </h1>
        </div>

        <div class="box">
           <% for (var i = 0; i<newListItems.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
           <% } %>

           <form class ="item" action="/" method="POST">
            <input type="text" name="newItem" autocomplete="off" placeholder="New list item">
            <button type="submit">+</button>    
            </form>
        </div>

        
            </body>
</html>