html {
  background-color: #ffc8c8;
  background-image: -webkit-linear-gradient(75deg, #ff9999 50%, #ffc8c8 50%);
  min-height: 800px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
  font-weight: bold;
 
}
h2 {
  color: #ff9999;
  padding: 30px 20px 0;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.);
}

.navbar {
  text-align: center;
  padding-top: 30px;
  font-size: 1rem;
  width: 25%;
  margin: 0 auto;
}
.navbar a{
  padding: 10px;
  text-decoration: none;
  color: #444f5a;
}
a:hover {
  color: #ff9999;
}
#heading {
  background-color: #ff9999;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

 input:checked+p {          /* All p elements that come after input */
  text-decoration: line-through;
  text-decoration-color: #ff9999;
}

input[type="checkbox"] {   /* All the inputs that have type checkbox */
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #444f5a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff9999;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ff9999;
}

/* Targets the placeholder */

::placeholder {
  color: grey;
  opacity: 1;
  font-family: 'Noto Sans', sans-serif;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
